<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servlet01</display-name>
  <context-param>
    <param-name>company</param-name>
    <param-value>hpe</param-value>
  </context-param>
  <context-param>
    <param-name>address</param-name>
    <param-value>jining</param-value>
  </context-param>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.hpe.servlet.FirstServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/f/a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.hpe.servlet.SecondServlet</servlet-class>
    <init-param>
      <param-name>userName</param-name>
      <param-value>zhangsan</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myGen</servlet-name>
    <servlet-class>com.hpe.servlet.MyGenericServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>lisi</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>myGen</servlet-name>
    <url-pattern>/myGen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myHttp</servlet-name>
    <servlet-class>com.hpe.servlet.MyHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myHttp</servlet-name>
    <url-pattern>/myHttp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.hpe.servlet.Third</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
</web-app>