<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
	<!-- 查询所有用户
		id:mapped statment 调用时需要，唯一
		resultType:结果集类型()
	 -->
	<select id="queryAllUser" resultMap="hpe.po.User">
		select * from user
	</select>

	<!-- 根据ID查询用户
		parameterType:参数类型
	 -->
	<select id="queryUserById" parameterType="java.lang.Intager" resultMap="hpe.po.User">
		select * from user where id = #{id}
	</select>
	
</mapper>